@CHARSET "ISO-8859-1";

/* ------------ General ------------ */

html{ 
	font-family: Arial; 
}

a:link, a:visited, a:hover, a:active{ 
	color: black; 
}

.button{ 
	background-color: #FFC90E; 
	border: 1px solid grey; 
	cursor: pointer;
}

input, textarea{
	padding: 2px 3px; 
}

/* ------------ Header ------------ */

#header{ 
	background-color: #FFC90E; 
	font-weight: bold; 
	height: 80px; 
	font-size: 40px; 
	text-align: center; 
	line-height: 80px; 
}

/* ------------ List ------------ */

#tableLista{ 
	border-collapse: collapse; 
	text-align: left; 
	width: 100%; 
	min-width: 1200px;
}

#tableLista td{ 
	padding: 3px 10px; 
}

#tableLista th{ 
	padding: 3px 10px; 
	background-color: #FFC90E; 
	text-align: left; 
}

#tableLista a{ 
	letter-spacing: 2px; 
	font-size: 14px; 
}

#tableLista tr:hover{ 
	background-color: #d3d7cf; 
}

/* ------------ Footer ------------ */

#footer{ 
	position: absolute; 
	bottom: 10px; 
	width: 97%; 
}

a.about:link, a.about:visited, a.about:hover{ 
	text-decoration: underline !important; 
	float:right; 
}